@import "tailwindcss";

:root {
  --color-primary: #222651;
  --color-secondary: #0078b7;
  --color-accent: #00b4d8;
  --color-light: #97d4e5;
  --color-purple: #cc39f3;
}

@theme inline {
  --color-background: #ffffff;
  --color-foreground: #171717;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: #f5f5f5;
  color: var(--foreground);
  font-family: var(--font-geist-sans), Arial, Helvetica, sans-serif;
}

/* Scrollbar personalizada */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #0078b7;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #005a87;
}
